@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=STIX+Two+Text:ital,wght@1,700&display=swap');
/*nav*/
ul{list-style-type: none;float: left;}
li{float: right; padding-left: 10px; color: ghostwhite; font-family: 'Poppins';}
nav{float: right;}

/*section1*/
.banner {width: 100%; background: url("img1.jpg"); height: 500px; background-size: cover;}
.tag1 h1{font-size: 30px; font-family: 'Poppins';}
/*section2*/
.head1{font-size: 30px; font-family: 'Poppins';}
.para1{font-size: 20px; font-family: 'Poppins';}
.about{margin-left: 30px;}
/*section3*/
.tag2 {width: 100%; background: url("img12.jpg"); height: 800px; background-size: cover;}